{% extends 'base.html' %}
{% load static %}
{% block title %}
QuestHub-Home
{% endblock %}

{% block body %}

<section id="section1">
    <div class="container mt-lg-2">
        {% include 'navbar.html' %}
    </div>
    <div class="container">
        <div class="row mt-1">
          <div class="col-md-4"></div>
          <div class="col-md-4"></div>
          <div class="col-md-4">
            {% for message in messages %}
            <div class="alert alert-success alert-dismissible fade show animated-alert" role="alert">
                <strong>Success <i class="fa fa-check-circle"></i></strong> <span class="ms-2">{{message}}</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            <!-- <div id="success-message" class="hide-message">
                <h6 class="text-success ms-5">{{ message }}</h6>
            </div> -->
          </div>
        </div>
    </div>
</section>

<section id="2">
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8"> 
                <div class="card shadow p-3 mb-5 bg-body-tertiary rounded">
                    <div class="card-body">
                        <form action="{% url 'askquestion' %}" method="post">
                            {% csrf_token %}
                            <textarea name="question" class="form-control mt-2" id="" rows="2" placeholder="What do you want to ask others?" required></textarea>
                            <button  type="submit" class="btn btn-outline-danger btn-sm mt-3">Post<i class="fas fa-paper-plane ms-2"></i></button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>

    {% if questions %}
    <div class="container mt-2">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8"> 
                <div class="col-4 mb-3">
                    <div class="dropdown">
                        <button class="btn btn-danger dropdown-toggle w-50" type="button" id="filterDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            Filter
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="filterDropdown">
                            <li><a class="dropdown-item bg-white" href="{% url 'filter_today' %}">Today</a></li>
                            <li><a class="dropdown-item bg-white" href="{% url 'index' %}">All Posts</a></li>
                            <li><a class="dropdown-item bg-white" href="{% url 'filter_myposts' %}">Your Posts</a></li>
                        </ul>
                    </div>
                </div>
                <div class="card shadow p-3 mb-5 bg-body-tertiary rounded">
                    {% for question in questions %}
                    <div class="card-body">
                        <div class="row">
                            <div class="col-11"></div>
                            <div class="col-1">
                                <span><i class="fas fa-ellipsis-v "></i></span>
                            </div>
                        </div>
                        
                        <div class="chip" for="input_field">
                            {% if question.user.profile_picture %}
                            <img src="{{ question.user.profile_picture.url }}" alt="Profile Picture" width="96" height="96">
                            {% else %}
                            <img src="{% static 'images/dp.jpg' %}" alt="Profile Picture" width="96" height="96">
                            {% endif %}
                            <span class="text-danger">{{question.user.username}}</span> 
                        </div>
                        
                        <p class="ms-2" style="font-size: small;">Posted on {{question.date}}</p>
                        <h6><strong>{{question.question}}</strong></h6>
                        <div class="row mt-3">
                            <div class="col-md-6">
                                {% if question.user.id == user_id  %}
                                <button class="btn btn-outline-danger btn-sm" disabled><i class="fa fa-pen-alt"></i>Answer</button>
                                {% else %}
                                <button type="button" class="btn btn-outline-danger btn-sm" data-bs-toggle="modal" data-bs-target="#answermodal{{question.id}}">
                                    <i class="fa fa-pen-alt"></i>Answer
                                </button>
                                {% endif %}
                            </div>
                            <div class="col-md-6">
                                <a href="{% url 'view_answers' question.id %}" style="text-decoration: none;"><button class="btn btn-outline-danger btn-sm">View Answers</button></a>
                            </div>
                        </div>
                    </div>
                    <hr>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    {% else  %}
    <div class="container mt-2">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8"> 
                <div class="col-4 mb-3">
                    <div class="dropdown">
                        <button class="btn btn-danger dropdown-toggle w-50" type="button" id="filterDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            Filter
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="filterDropdown">
                            <li><a class="dropdown-item bg-white" href="{% url 'filter_today' %}">Today</a></li>
                            <li><a class="dropdown-item bg-white" href="{% url 'index' %}">All Posts</a></li>
                            <li><a class="dropdown-item bg-white" href="{% url 'filter_myposts' %}">Your Posts</a></li>
                        </ul>
                    </div>
                </div>
                <div class="card shadow p-3 mb-5 bg-body-tertiary rounded">
                    
                    <div class="card-body">
                       <h5>No Posts yet..!</h5>
                    </div>
                    
                    
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    {% endif %}



    <!-- modal for answer submission -->
    {% for question in questions %}
    <div class="modal fade" id="answermodal{{question.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form method="post" action="{% url 'submit_answer' question.id %}">
                {% csrf_token %}
                <div class="modal-body">
                    <textarea class="form-control" name="answer_text" rows="4" placeholder="Type your answer..."></textarea>
                </div>
                <div class="row mb-3">
                    <div class="col-md-8"></div>
                    <div class="col-md-1"></div>
                    <div class="col-md-2">
                        <button type="submit" class="btn btn-outline-danger btn-sm text-center">Submit</button>
                    </div>
                    <div class="col-md-1"></div>
                </div>
            </form>
        </div>
        </div>
    </div>
    {% endfor %}
</section>

<section id="footer" class="mt-5">
    {% include 'footer.html' %}
</section>

<style>
    .hide-message {
        display: none;
    }
</style>



<style>
    .chip {
        display: inline-block;
        padding: 0 25px;
        height: 50px;
        font-size: 16px;
        line-height: 50px;
        border-radius: 25px;
        background-color: #f1f1f1;
        text-decoration: none;
    }

    .chip img {
        float: left;
        margin: 0 10px 0 -25px;
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }
</style>
<style>

    .dropdown-menu .dropdown-item:hover {
        background-color: #f9f8f8;
        color: red;
        border-left: solid 3px red;
    }
    

</style>

<style>

/* CSS for the alert box */
.animated-alert {
    animation: slideInFromRight 0.5s ease forwards;
   
}

/* Keyframes for the slide-in animation */
@keyframes slideInFromRight {
    0% {
        transform: translateX(100%); /* Start from outside the viewport on the right */
        opacity: 0;
    }
    100% {
        transform: translateX(0); /* Move to original position */
        opacity: 1;
    }
}

</style>

{% endblock %}
