{% extends 'admin_base.html' %}
{% load static %}

<!-- title for the dashboard page -->
{% block title %}
Admin Dashboard
{% endblock %}

<!-- css link for dashboard page -->
{% block link %}
<link rel="stylesheet"  href="{% static 'admin/css/admin_dashboard.css' %}">
{% endblock %}


<!-- contents for dashboard page -->
{% block content %}



<div class="container-fluid px-4">
    
    <ol class="breadcrumb mt-3">
        <li class="breadcrumb-item active">Dashboard</li>
    </ol>
    
    <div class="row mt-5 mb-5">
        <!-- List Users card section -->
        <div class="col-lg-4">
            <a class="text-decoration-none" href="{% url 'user_list' %}">
                <div class="card shadow bg-body-tertiary rounded mt-2" style="max-width: 100%;">
                    <div class="row g-0">
                        <div class="col-4" id="sec1">
                            <div class="icons text-center mt-5 mb-5">
                                <i class="fas fa-users fs-1"></i>
                            </div>
                        </div>
                        <div class="col-8" id="sec2">
                            <div class="card-body">
                                <h5 class="card-title main-heading text-center">Users</h5>
                                <p class="text-black-50 mt-3">
                                   List All Users 
                                </p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </a>
        </div>

        <div class="col-lg-4"></div>
    </div>
    
    
</div>



{% endblock %}
