{% extends 'admin_base.html' %}
{% load static %}

<!-- title for the dashboard page -->
{% block title %}
Admin Dashboard
{% endblock %}

<!-- css link for dashboard page -->
{% block link %}
<link rel="stylesheet"  href="">
{% endblock %}


<!-- contents for dashboard page -->
{% block content %}



<div class="container-fluid px-4">
    
  <ol class="breadcrumb mt-3">
      <li class="breadcrumb-item"><a href="{% url  'admin_dashboard' %}">Dashboard</a></li>
      <li class="breadcrumb-item"><a href="{% url 'user_list' %}">Users</a></li>
      <li class="breadcrumb-item active">Details</li>
  </ol>
  <div class="row-12">
      <section id="section2">
          <div class="container">
          <div class="row mt-5">
              <div class="col-md-2"></div>
              <div class="col-md-8">
              <div class="card shadow p-3 mb-5 bg-body-tertiary rounded" style="max-width: 100%;">
                  <div class="row g-0">
                  <div class="col-md-4 d-flex justify-content-center align-items-center">
                      <center>
                      {% if user.profile_picture %}
                      <img src="{{ user.profile_picture.url }}" class="img-fluid rounded-5" alt="Profile Picture" >
                      {% else %}
                      <img class="img-fluid rounded-circle" src="{% static 'images/dp.jpg' %}" class="img-fluid rounded-5" alt="Profile Picture" >
                      {% endif %}
                      </center>
                  </div> 
                  <div class="col-md-8">
                      <div class="card-body">
                          <h5 class="card-title mb-4 font-weight-bold">User Details</h5>
                          <p class="card-text">Name: <span class="fw-bold">{{ user.name }}</span></p>
                          <p class="card-text">Username: <span class="fw-bold">{{ user.username }}</span></p>
                          <p class="card-text">Bio: <span class="fw-bold">{{ user.bio }}</span></p>
                          <p class="card-text">Email: <span class="fw-bold">{{ user.email }}</span></p>
                          <p class="card-text">Gender: <span class="fw-bold">{{ user.gender }}</span></p>
                          <p class="card-text">Phone number: <span class="fw-bold">{{ user.phone_number }}</span></p>
                          <p class="card-text">Place: <span class="fw-bold">{{ user.place }}</span></p>
                      </div>
                  </div>
                  </div>
              </div>   
      </section>      
  </div>
  <section id="section3">
    
      <div class="row mt-1 mb-5">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
          <div class="card shadow mb-5 bg-body-tertiary rounded">
            <div class="card-header">
              <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Posts</button>
                </li>
              </ul>
              <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab" tabindex="0">
                  <div class="card-body ">
                      <!-- for posts -->
                      {% if questions %}
                      {% for question in questions %}
                      <div class="box p-3 " id="#posts">
                        <div class="row ">
                          <div class="col-11"></div>
                          <div class="col-1">
                            <div class="dropdown">
                              <span class="ellipsis">
                                <i class="fas fa-ellipsis-h"></i>
                              </span>
                              <div class="dropdown-content">
                                <a href="{% url 'delete_question' question.id %}">Delete</a>
                              </div>
                            </div>                    
                          </div>
                        </div>
                      
                        <div class="chip" for="input_field">
                          {% if user.profile_picture %}
                          <img src="{{ user.profile_picture.url }}" alt="Profile Picture" width="96" height="96">
                          {% else %}
                          <img src="{% static 'images/dp.jpg' %}" alt="Profile Picture" width="96" height="96">
                          {% endif %}
                          <span class="text-danger">{{question.user.username}}</span>
                            
                        </div>
                      
                        <p class="ms-2" style="font-size: small;">Posted on {{question.date}}</p>
                        <h6><strong>{{question.question}}</strong></h6>
                        
                      </div>
                      {% endfor %}
                      {% else %}
                      <p class="fw-bold font-monospace mt-3">No Posts yet...!</p>
                      {% endif %}
                    </div>
                </div>
            </div>
              </div>
            </div>
            <hr>
            
          </div>
        </div>
        <div class="col-lg-2"></div>
      </div>
    </div>
  
  </section>
  
</div>


  
  
  
  
  

<style>
    .nav-link{
        color: rgb(0, 0, 0);
    }
    .nav-link:hover{
        color: #DC4C64;
        font-weight: 500;
    }
    
    .nav-pills .nav-link.active {
        border-radius: 0%;
        background-color: transparent;
        color: #DC4C64;
        border-bottom: 4px solid  #DC4C64;
    }
    .nav-pills .nav-link.active:focus,
    .nav-pills .nav-link.active:hover {
        box-shadow: none; /* Remove button box shadow */
        text-decoration: none; /* Remove button underline on hover */
    }
</style>
<style>
    .chip {
        display: inline-block;
        padding: 0 25px;
        height: 50px;
        font-size: 16px;
        line-height: 50px;
        border-radius: 25px;
        background-color: #f1f1f1;
        text-decoration: none;
    }

    .chip img {
        float: left;
        margin: 0 10px 0 -25px;
        height: 50px;
        width: 50px;
        border-radius: 50%;
    }
</style>
          
<style>
          
    /* Style for the dropdown container */
    .dropdown {
    position: relative;
    display: inline-block;
    }
    
    /* Style for the ellipsis icon */
    .ellipsis {
    cursor: pointer;
    }
    
    /* Style for the dropdown content */
    .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    }
    
    /* Style for the dropdown links */
    .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    }
    
    /* Style for the dropdown links on hover */
    .dropdown-content a:hover {
    background-color: #f1f1f1;
    }
    
    /* Show dropdown content when hovering over the ellipsis icon */
    .dropdown:hover .dropdown-content {
    display: block;
    }
          
</style>
          
<style>
          
    /* CSS for the alert box */
    .animated-alert {
        animation: slideInFromRight 0.5s ease forwards;
        
    }
    
    /* Keyframes for the slide-in animation */
    @keyframes slideInFromRight {
        0% {
        transform: translateX(100%); /* Start from outside the viewport on the right */
        opacity: 0;
        }
        100% {
        transform: translateX(0); /* Move to original position */
        opacity: 1;
        }
    }

    
          
</style>
            
{% endblock %}     
          
          
          